
.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 1999;
}

.sweet-alert {
    background-color: white;
    font-family: Tahoma;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 2000; 
}
@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px; }
}
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 25px;
    display: block; 
}
.sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: normal; 
}
.sweet-alert button {
    background-color: #003264;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 25px;
    margin: 26px 5px 0 5px;
    cursor: pointer; 
}
.sweet-alert button:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); 
}
.sweet-alert button:hover {
    background-color: #a1d9f2; 
}
.sweet-alert button:active {
    background-color: #81ccee; 
}
.sweet-alert button.cancel {
    background-color: #003264; 
}
.sweet-alert button.cancel:hover {
    background-color: #0482ff; 
}
.sweet-alert button.cancel:active {
    background-color: #b6b6b6; 
}
.sweet-alert button.cancel:focus {
    box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; 
}
.sweet-alert button::-moz-focus-inner {
    border: 0; 
}
.sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important;
}
.sweet-alert .icon {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 5px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
  }
.sweet-alert .icon.error {
    border-color: #F27474; 
}
.sweet-alert .icon.error .x-mark {
    position: relative;
    display: block; 
}
.sweet-alert .icon.error .line {
    position: absolute;
    height: 3px;
    width: 23px;
    background-color: #F27474;
    display: block;
    top: 19px;
    border-radius: 2px; 
}
.sweet-alert .icon.error .line.left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 9px; 
}
.sweet-alert .icon.error .line.right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px; 
}
.sweet-alert .icon.warning {
    border-color: #f70; 
}
.sweet-alert .icon.warning .body {
    position: absolute;
    width: 4px;
    height: 22px;
    left: 50%;
    top: 5px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #f70; 
}
.sweet-alert .icon.warning .dot {
    position: absolute;
    width: 6px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 5px;
    background-color: #f70; 
}
.sweet-alert .icon.info {
    border-color: #C9DAE1; 
}
.sweet-alert .icon.info::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 26px;
    left: 50%;
    bottom: 2px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #C9DAE1; 
}
.sweet-alert .icon.info::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: -3px;
    top: 3px;
    background-color: #C9DAE1; 
}
.sweet-alert .icon.success {
    border-color: #A5DC86; 
}
.sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 60px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sweet-alert .icon.success::before {
    border-radius: 60px 0 0 60px;
    top: -3.5px;
    left: -16.5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 30px 30px;
    transform-origin: 30px 30px;
}
.sweet-alert .icon.success::after {
    border-radius: 0 60px 60px 0;
    top: -5.5px;
    left: 14px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 30px;
    transform-origin: 0px 30px;
}
.sweet-alert .icon.success .placeholder {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: 2; 
}
.sweet-alert .icon.success .fix {
    width: 3px;
    height: 45px;
    background-color: white;
    position: absolute;
    left: 13px;
    top: 4px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); 
}
.sweet-alert .icon.success .line {
    height: 3px;
    background-color: #A5DC86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2; 
}
.sweet-alert .icon.success .line.tip {
    width: 13px;
    left: 7px;
    top: 23px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sweet-alert .icon.success .line.long {
    width: 23px;
    right: 4px;
    top: 19px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sweet-alert .icon.custom {
    background-size: contain;
    border-radius: 0;
    border: none;
    background-position: center center;
    background-repeat: no-repeat; 
}
    
/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-moz-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-moz-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  -moz-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.hideSweetAlert {
  -webkit-animation: hideSweetAlert 0.2s;
  -moz-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 0.5px;
    top: 9.5px; }
  54% {
    width: 0;
    left: 0.5px;
    top: 9.5px; }
  70% {
    width: 25px;
    left: -4px;
    top: 18.5px; }
  84% {
    width: 8.5px;
    left: 10.5px;
    top: 24px; }
  100% {
    width: 12.5px;
    left: 12px;
    top: 12.5px; } }
@-moz-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 0.5px;
    top: 9.5px; }
  54% {
    width: 0;
    left: 0.5px;
    top: 9.5px; }
  70% {
    width: 25px;
    left: -4px;
    top: 18.5px; }
  84% {
    width: 8.5px;
    left: 10.5px;
    top: 24px; }
  100% {
    width: 12.5px;
    left: 7px;
    top: 22.5px; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 0.5px;
    top: 9.5px; }
  54% {
    width: 0;
    left: 0.5px;
    top: 9.5px; }
  70% {
    width: 25px;
    left: -4px;
    top: 18.5px; }
  84% {
    width: 8.5px;
    left: 10.5px;
    top: 24px; }
  100% {
    width: 12.5px;
    left: 7px;
    top: 22.5px; } }
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 24px;
    top: 27px; }
  65% {
    width: 0;
    right: 23px;
    top: 27px; }
  84% {
    width: 27.5px;
    right: 0px;
    top: 17.5px; }
  100% {
    width: 23.5px;
    right: 4px;
    top: 19px; } }
@-moz-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 23px;
    top: 27px; }
  65% {
    width: 0;
    right: 23px;
    top: 27px; }
  84% {
    width: 27.5px;
    right: 0px;
    top: 17.5px; }
  100% {
    width: 13.5px;
    right: 4px;
    top: 19px; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 23px;
    top: 27px; }
  65% {
    width: 0;
    right: 23px;
    top: 27px; }
  84% {
    width: 27.5px;
    right: 0px;
    top: 17.5px; }
  100% {
    width: 24.5px;
    right: 4px;
    top: 19px; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@-moz-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  -moz-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  -moz-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.icon.success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  -moz-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@-moz-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  -moz-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@-moz-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  -moz-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #f70; } }
@-moz-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #f70; } }
@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #f70; } }
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  -moz-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #f70; } }
@-moz-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #f70; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #f70; } }
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  -moz-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }
